@base-url: "/wp-content/themes/nicer_things/";
body{
  background: url("@{base-url}/images/bg.png") repeat gray;
}

@font-face{
  font-family: "Brandon";
  src: url("@{base-url}/fonts/brandon_med-webfont.eot");
  src: url("@{base-url}/fonts/brandon_med-webfont?#iefix") format('embedded-opentype'), url("@{base-url}/fonts/brandon_med-webfont.woff") format('woff'), url("@{base-url}/fonts/brandon_med-webfont.ttf") format('truetype'), url("@{base-url}/fonts/brandon_med-webfont.svg#webfont") format('svg');
}


/*header______________________________________________________________________________________________________________*/

header{
  margin-top: 30px;
  margin-bottom: 60px;
  h1{
    a{
      display: block;
			width: 580px;
			height: 168px;
			background: url("@{base-url}/images/header.png") no-repeat transparent;
			text-indent: -9999px;
    }
  }
}

/*end header_________________________________________________________________________________________________________*/

/*Post ______________________________________________________________________________________________________________*/

article{
  border-top: 1px solid black;
  padding-top: 30px;
  margin-bottom: 25px;
  &:last-of-type{
    border-bottom: 1px solid black;
    padding-bottom: 20px;
  }
  h2{
    font-family: "Brandon";
  }
  time{
    margin-left: 45px;
    display: inline;
    float: left;
    font-size: 9px;
    font-weight: bold;
    margin-top: 15px;
    text-transform: uppercase;
    &:before{
      content: "Purveyed";
    }
  }
  .post_permalink{
    display: inline;
    float: left;
    margin-left:10px;
    margin-top: 5px;
    a{
      display:block;
  		width: 32px;
  		height: 32px;
  		background: url("@{base-url}/images/permalink_anchor.png") no-repeat transparent;
  		text-indent: -9999px;
  		float: right;
  		&:hover{
  			background: url("@{base-url}/images/permalink_anchor_hover.png") no-repeat transparent;
  		}
    }
  }
  .content{
    .item_image{
      margin-bottom: 15px;
      width: 940px;
      height: 540px;
      }
		a{
			display: inline-block;
			background-color: black;
			color: white;
			padding: 5px;
			border-radius: 5px;
			text-decoration: none;
			font-weight: bold;
			&:hover{
				background-color: white;
				color: black;
			}
		}
  }
  .meta{
    .via{
      margin-bottom:25px;
      a{
        display: inline-block;
        background-color: black;
        color: white;
        padding: 5px;
        border-radius: 5px;
        text-decoration: none;
        font-weight: bold;
        &:hover{
          background-color: white;
          color: black;
        }
      }
    }
    .get, .share{
      font-size: 25px;
      text-transform: uppercase;
      line-height: 30px;
      font-family: "Brandon";
      a{
        display: inline-block;
        width: 30px;
        height: 30px;
        background: url("@{base-url}/images/get_it_link.png") no-repeat transparent;
        text-indent: -9999px;
      }
      .facebook, .twitter{
        width: 30px;
        height: 30px;
      }
			.facebook{
				margin-left:20px;
				background: url("@{base-url}/images/facebook.png") no-repeat transparent;
			}
      .twitter{
        background: url("@{base-url}/images/twitter.png") no-repeat transparent;
      }
    }
    .get{
      a{
        &:hover{
					background: url("@{base-url}/images/get_it_link_hover.png") no-repeat transparent;
        }
      }
    }
  }
}

/*End Post __________________________________________________________________________________________________________*/

/*Footer ____________________________________________________________________________________________________________*/

footer{
  background: url("@{base-url}/images/footer_bg.png") repeat gray;
  border-top: 2px solid black;
  -webkit-box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 10px 10px 0px rgba(0, 0, 0, 0.3);
  height: 190px;
  padding-top: 20px;
  font-size: 11px;
  color: #bfbfbf;
  text-align: center;
  .logo{
    text-indent: -9999px;
    height: 50px;
    background: url("@{base-url}/images/footer_logo.png") no-repeat transparent;
    margin-bottom: 10px;
  }
  .info{
    text-transform: uppercase;
    line-height: 16px;
    margin-bottom: 5px;
    font-family: "Brandon";
    .small_logo{
      height: 16px;
      width: 112px;
      text-indent: -9999px;
      display: inline-block;
      background: url("@{base-url}/images/small_logo.png") no-repeat transparent;
      padding-top: 1px;
    }
  }
}

/*End Footer ________________________________________________________________________________________________________*/